<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1><%= @post.title %></h1>
		<% if signed_in? %>
			<p>By <%= @post.user.name %></p>
		<% end %>
		<p><%= @post.body %></p>
		<p><%= link_to "Back to Posts", posts_path %></p>
	</div>
</div>